body {
    background-image: url('https://media.licdn.com/dms/image/D5612AQFTmcnOkh6_8Q/article-cover_image-shrink_720_1280/0/1663775961726?e=2147483647&v=beta&t=M9mbbxYPGFr47zo4VkNGeWPOuwW_5c737dqp-MnE32k');
    /* background-size: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: Arial, sans-serif;
}
.container {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 30px;
    margin-top: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
h1{
    /* font-size: 36px;
    font-weight: bold; */
    color: #f2fa7d;
    animation: fadeIn 1s;
}
h1, h2 {
    text-align: center;
    animation: fadeIn 2s;
    margin-bottom: 20px;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
label {
    font-weight: bold;
    display: block;
    height: 50px;
    line-height: 50px;
    color: #f8f9fa; /* Lighter label color */
}
input, select {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 0 10px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: border-color 0.3s, box-shadow 0.3s;
}
input:focus, select:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    outline: none;
}
.btn{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4);
}
button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}
button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.4);
}
.footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    color: #ffffff;
}
.form-row {
    margin-bottom: 20px; /* Space between form rows */
}
.footer a:hover{
    color: #ddfc53;
    text-decoration: none;
}
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }
}

/* Hide spin buttons in Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none; /* Add this line */
    margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Add this line */
}

/* Hide spin buttons in Internet Explorer 10+ */
input[type="number"]::-ms-clear {
    display: none;
}